<div class="body-email">
  <div class="card">
    <p>Ola <%= @resource.name %>!</p>

    <p>Vimos que você solicitou uma redinição de senha.</p>
    <p>Se foi você, basta clicar no botão abaixo</p>
    <%= link_to "Mudar senha", "#{message["redirect-url"]}?reset_password_token=#{@token}", class: " btn btn-primary" %>

    <p>Mas, caso não tenha solicitado essa redefinição, pode desconsiderar a mensagem.</p>
  </div>
</div>

<style>
  .card {
    max-width: 300px;
    text-align: center;
    font-family: Roboto,sans-serif;
    border: 1px solid rgb(217, 217, 217);
    padding: 2rem;
  }

  .body-email {
    width: 100%;
    height: 100%;
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    padding: 0px;
    margin: 0px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
  }

  .btn {
    border-radius: 0.6em;
    display: flex;
    font-size: 1rem;
    margin: 20px 20px 0 20px;
    padding: .7em 1.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: grid;
  }

  .btn:focus, .btn:hover {
    color: #fff;
    outline: 0;
  }

  .btn-primary {
    border-color: $blue;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
  }

  .btn-primary:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
</style>

